.root {
    -fx-background-image: url("/gui/img/background.jpg");
    -fx-background-size: cover;
    -fx-text-fill: #F9E4CA;
}

/* <editor-fold desc="Tab Pane">  */
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 90px;
    -fx-padding: 10px;
}

.tab {
    -fx-background-insets: 0 1 0 1, 0, 0;
}

.tab-pane .tab {
    -fx-background-color: #2D1F11;

}

.tab-pane .tab:selected {
    -fx-background-color: #14100A;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
    -fx-text-fill: #F9E4CA;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #b36e14;
    -fx-font-weight: bolder;
}
/* </editor-fold> */

/* <editor-fold desc="Fancy Borders"> */
.cardback_border_brown {
    -fx-border-image-source: url("/gui/img/Cardback.png");
    -fx-border-image-insets: 0;
    -fx-border-image-repeat: stretch;
    -fx-border-image-width: 35;
    -fx-border-image-slice: 115;
    -fx-background-color: #14100A;
    -fx-background-insets: 0;
}
.cardback_border_button {
    -fx-border-image-source: url("/gui/img/Cardback.png");
    -fx-border-image-insets: 0;
    -fx-border-image-repeat: stretch;
    -fx-border-image-width: 8;
    -fx-border-image-slice: 50;
    -fx-background-color: #14100A;
    -fx-background-insets: 0;
}

.cardback_border_purple {
    -fx-border-image-source: url("/gui/img/Cardback2.png");
    -fx-border-image-insets: 0;
    -fx-border-image-repeat: stretch;
    -fx-border-image-width: 35;
    -fx-border-image-slice: 115;
    -fx-background-color: #14100A;
    -fx-background-insets: 0;
}
/* </editor-fold> */

/* <editor-fold desc="Console Text Area">  */
.console_text_area {
    -fx-text-fill: #F9E4CA;
    -fx-font-family: monospace;
    -fx-font-size: 14px;
    -fx-pref-height: inherit;
    -fx-pref-width: inherit;
}

.console_text_area .content {
    -fx-background-color: #14100A;
    -fx-border-color: #14100A;
    -fx-border-width: 1;
}
/* </editor-fold> */

.command_input_field {
    -fx-text-fill: #F9E4CA;
    -fx-font-family: monospace;
    -fx-font-size: 14px;
    -fx-pref-height: 20;
    -fx-pref-width: 580;
}

.console_button {
    -fx-pref-width: 95;
    -fx-pref-height: 95;
    -fx-text-fill: #F9E4CA;
    -fx-font-size: 18px;
}